.profile__add {
    grid-column: 1/3;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 8px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 900px){
    .profile__add {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}