.auth-page__button {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-family: Inter;
    width: 100%;
    min-height: 50px;
    cursor: pointer;
    transition: opacity 0.9s ease;
    border: none;
    border-radius: 2px;
    background: #FFF;
    margin: 216px 0 15px;
    padding: 0;
}

.auth-page__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 500px) {
    .auth-page__button {
        font-size: 14px;
        line-height: 17px;
    }
}