.profile__info {
    display: grid;
    justify-content: start;
    align-content: center;
}

@media screen and (max-width: 900px){
    .profile__info {
        justify-content: center;
    }
}

@media screen and (max-width: 735px){
    .profile__info {
        margin: 26px 0 32px;
    }
}